.aboutme {
	position: relative;
	float: left;
	margin: 0 0;
	width: 100%;
	height: auto;
	background-color: green;
	background: url(http://gdurl.com/CNyM) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 1px solid black;
}

.photo {
	position: relative;
	margin: 3% 12%;
	float: left;
	border: 1px solid black;
}

.mypic img {
	width: 300px;
}

.mypic {
	position: relative;
	float: left;
	margin: 3% 2%;
}

.mypic p {
	margin-top: 0;
	font-family: cursive;
	font-size: 20px;
	width: 700px;
}
