<div class="aboutme">

	<div class="photo">
		<%=cl_image_tag("Bubah1", :width=>300, :height=>700, :crop=>:fit) %>
	</div>

	<div class="mypic">
		<p class="heading">Who I am</p>
		<p>My name is Bubah Conteh and I am 24 years old. My hometown is the Bronx, where I grew up and attended school for most of my earlier education. I am Gambian by blood as both my parents are from Gambia, a small country on the coast of West Africa. I am proud to say I grew up in an Gambian home where we were able to practice much of its customs and eat their delicious food.</p><br>
		<p class="heading">Education</p><br>
		<p>I Studied Mechanical Engineering at Clarkson University where I was able to obtain a Bachelors degree in this field.<p><br>
		<p class="heading">Work place</p>
		<p>Currently I work as a Project Engineer at QuEST Global, where we provide engineering services, and Product design in various industries.</p><br>
		<p class="heading">Current Hobbies</p>
		<p>My current hobbies consist of creating dynamic websites and Web Apps. I'm very new to this field; I've been in this field for only five months however I am very excited and optimistic about where I am headed.</p>
	</div>

</div>

