<div class="contact">

	<div class="col-3 form">
		<h1>Contact info:</h1>
		<form action="mailto:contehbub@gmail.com" method="POST" enctype="multipart/form-data" name="EmailTestForm">
				<textarea class="form-control" placeholder="FirstName"></textarea><br>
				<textarea class="form-control" placeholder="LastName"/></textarea><br>
				<textarea class="form-control" placeholder="Email"></textarea><br>
				<textarea class="form-control" placeholder="Comments"></textarea><br>
				<button type"submit" >Submit</button>
		</form>
	</div>

</div>





