<div class="row tagline">

	<div class="col-8">
  	<p>My name is Bubah Conteh and I am a part-time freelance web designer who specializes in creating dynamic web pages. I have been in the field for nearly half a year, and it has been both a challenging and exciting field to be a part of. I am a Engineer, designer, and a developer. Check out my portfolio page to see previous projects I have worked on.</p>
  	<a href="/pages">View My Works</a>
  	</div>

</div>
